.button {
    background: linear-gradient(90deg, #6a85f1 0%, #805ad5 100%);
    color: white;
    border: none;
    outline: none;
    border-radius: 12px;
    padding: 12px 28px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    display: inline-block;
    font-family: "Inter", sans-serif;
}

.button:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 12px rgba(128, 90, 213, 0.3);
}

.button:active {
    transform: translateY(0);
    box-shadow: 0 2px 8px rgba(128, 90, 213, 0.2);
}


.outline {
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.outline:hover {
    background: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.5);
    transform: translateY(-3px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.outline:active {
    transform: translateY(0);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}