.whyChoose {
    width: 100%;
    padding: 5rem 2rem;
    background-color: #000;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 3.5rem
}

.title {
    font-size: 3.2rem;
    font-weight: 800;
    line-height: 1.2;
    background: linear-gradient(135deg, #ffffff 0%, #667eea 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Inter', sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

.card {
    background: #161616;
    border-radius: 16px;
    padding: 2rem;
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    backdrop-filter: blur(10px);
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.card:hover {
    transform: translateY(-4px);
    box-shadow: 0 12px 26px rgba(122, 143, 255, 0.4);
}

.icon {
    font-size: 3rem;
}

.cardTitle {
    font-size: 1.7rem;
    font-weight: 700;
    color: white;
    font-family: 'Inter', sans-serif;
}

.cardDescription {
    font-size: 16px;
    color: #bbb;
    line-height: 1.5;
    font-family: 'Inter', sans-serif;
    flex-grow: 1;
}



@media (max-width: 1024px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .title {
        font-size: 36px;
    }

    .grid {
        grid-template-columns: 1fr;
        gap: 16px;
    }

    .card {
        padding: 1.5rem;
    }

    .icon {
        font-size: 32px;
    }

    .cardTitle {
        font-size: 20px;
    }

    .cardDescription {
        font-size: 14px;
    }
}