.infoSection {
    width: 100%;
    padding: 4rem;
    padding-left: 3rem;
    padding-right: 2rem;
    background-color: #000;
    color: white;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 2rem;
    flex-wrap: wrap;
}

.subHeader {
    display: flex;
    flex-direction: column;
    gap: 0.3rem
}

.avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid rgba(255, 255, 255, 0.1);
}

.greeting {
    font-size: 28px;
    font-weight: 800;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.subHeader1 {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.goal {
    background: #262b41;
    border-radius: 12px;
    padding: 0.2rem 0.4rem;
    font-size: 1.2rem;
    text-align: center;
    color: white;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: row;
}

.streak {
    color: #ff4d4d;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    gap: 4px;
}

.statsGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    max-width: 1350px;
    flex-wrap: wrap;
}

.statCard {
    background: #161616;
    border-radius: 12px;
    padding: 16px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    border: 1px solid gray;

}

.statCard:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
}

.statValue {
    font-size: 24px;
    font-weight: 700;
    color: #7A8FFF;
    font-family: 'Inter', sans-serif;
    margin-bottom: 8px;
}

.statLabel {
    font-size: 14px;
    color: #bbb;
    font-family: 'Inter', sans-serif;
}

@media (max-width: 1024px) {
    .statsGrid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .header {
        gap: 0.5rem;
    }

    .greeting {
        font-size: 24px;
    }

    .goal {
        font-size: 12px;
        padding: 3px 6px;
    }

    .streak {
        font-size: 14px;
    }

    .statsGrid {
        grid-template-columns: repeat(2, 1fr);
    }

    .statValue {
        font-size: 20px;
    }

    .statLabel {
        font-size: 12px;
    }
}