.header {
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    padding: 0% 2%;
    background-color: rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Inter", sans-serif;
    z-index: 9999;

}

.name {
    font-size: 1.9rem;
    font-weight: 600;
    user-select: none;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.tabs {
    gap: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tabs a {
    font-size: 1rem;
    cursor: pointer;
    color: whitesmoke;
    transition: all 0.6s ease;
    font-weight: 500;
    user-select: none;
    text-decoration: none;
}

.tabs a:hover {
    color: #7A8FFF
}

.button {
    padding: 1rem
}

@media (max-width: 620px) {
    .name {
        font-size: 1.35rem;
    }

    .tabs {
        gap: 0.6rem;
        display: flex;
    }
}